*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    gap: 232.5px;
    justify-content: space-between;
   margin: 0 165px;
    padding: 21.84px 0;
}
.list ul{
    display: flex;
    gap: 60px;
}
.icons ul{
    display:flex;
    gap: 24px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.collections_section{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
    padding-top: 40px;
     padding-bottom: 40px;
     background-color: aquamarine;
     margin: 0 165px;
}
.collection{
    width: calc((100% - 90px) /4);
}
img{
    width: 100%;
}
h2{
    margin-top: 23px;
}