* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
--primarycolor:#3A3845;
}

.header {
  
    padding: 21.84px 0;
}
.container{
    width: calc(100% - 20%);
    margin: 0  auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}
.menu{
    display: none;
}
.list ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
    color: var(--primarycolor);
}

.icons ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.hero{
    background-color: aliceblue;
    height: 600px;
    gap: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:0) and (max-width:996px) {
    .list,.icons{
        display: none;
    }
    .menu{
        display: flex;
    }
}

.collections_section {
  
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.collection {
    width: calc((100% - 90px) / 4);
}

@media screen  and (min-width:0) and (max-width:400px){
    .collections_section .row{
        flex-direction: column;
    }
    .collection{
        width: 100%;
    }
}


@media screen  and (min-width:401px) and (max-width:770px){
.collection{
width: calc((100% - 30px) / 2);
}
}

@media screen  and (min-width:771px) and (max-width:900px) {
  
    .collection{
    
       width: calc((100% - 60px) / 3); 
    }
}

img {
    width: 100%;
}

h2 {
    margin-top: 23px;
    color: var(--primarycolor);
}
a {
    text-decoration: none;
     font-family: "Inter", sans-serif;
     color: var(--primarycolor);
}
